<% render(:layout => "shared/box",
          :locals => { :title => "#{list.name} Loot List" }) do %>
  <% if list && list.list_positions.length > 0 %>
    <%= render(:partial => "lists/position",
               :collection => list.list_positions) %>
  <% else %>
    <tr>
      <td class="closed">Empty</td>
    </tr>
  <% end %>
<% end %>
