<tr>
  <td>
    <%= if @current_account == position.account
            content_tag(:b, "#{position.position} #{position.account.name}")
        else
            "#{position.position} #{position.account.name}"
        end %>
  </td>
  <% position.account.characters.each do |character| -%>
    <% if !character.inactive -%>
      <td>
        <%= render(:partial => "shared/character",
                   :object => character) %>
      </td>
    <% end -%>
  <% end -%>
</tr>
