<tr>
  <td>
    <%= link_to(if @current_account == position.account
                    content_tag(:b, "#{position.position} #{position.account.name}")
                else
                    "#{position.position} #{position.account.name}"
                end,
                account_url(position.account)) %>
  </td>
  <% position.account.active_characters.each do |character| -%>
    <td>
      <%= link_to(render(:partial => "shared/character",
                         :object => character),
                  "#{account_url(position.account)}##{dom_id(character)}") %>
    </td>
  <% end -%>
</tr>
