# Bundler
.bundle
bin

# DB
db/*.sqlite3

# Rails
log/*.log
tmp/**/*
tmp/*

# Mac
.DS_Store

# Cached
public/stylesheets/raid.css
.sass-cache

# Doc
doc/api
doc/app

# Sample files
config/database.yml
config/config.yml
