%dt= List.first
- List.first.list_positions.in_raid(raid).each do |position|
  = render :partial => 'position', :locals => { :position => position, :raid => raid }
%dd.empty{ :class => List.first.list_positions.seated_in(raid).empty? && 'seated' } Empty
