div.raid id=dom_id(@raid)
  h1 Edit Raid
  = form_for @raid do |f|
    dl
      dt Name:
      dd = f.text_field :name
      dt Date:
      dd = text_field_tag 'caldate', @raid.caldate, :size => 10, :class => 'lilydate'
      dt Instances:
      dd
        ul#locations
          - @raid.locations.each do |location|
            li
              = f.fields_for :locations, location do |l|
                - if l.object.new_record? or l.object.instance.active
                  = l.collection_select :instance_id, l.object.new_record? ? (Instance.active - @raid.instances) : Instance.active, :id, :name, :include_blank => l.object.new_record?
                  - unless l.object.new_record?
                    = l.check_box :_destroy
                    = l.label :_destroy, 'Remove'
                - else
                  = l.object.instance.name
      dt Loot:
      dd = f.text_area :loot_note, :rows => 5, :cols => 40
      dt Note:
      dd = f.text_area :note, :rows => 5, :cols => 40
      - if admin?
        dt Uses Loot System?
        dd = f.check_box :uses_loot_system
      dt Groups:
      dd
        - @raid.groups.each do |group|
          dl#edit_slots.list
            dt Group #{cycle(*(1..8).to_s)}
            - group.each do |slot|
              dd
                = f.fields_for :slots, slot do |s|
                  = s.collection_select :role_id, @roles, :id, :name, { :include_blank => "Any" }, { :class => 'slot_select' }
                  = s.collection_select :cclass_id, @cclasses, :id, :name, { :include_blank => "Any" }, { :class => 'slot_select' }
                  br
      dt Slots:
      dd
        = f.collection_select :template_id, ::Template.all, :id, :name, { :include_blank => true }, { :onchange => 'raid_edit_slots(this);' }
        p.note
          | Leave this blank if you don't want to bulk edit the slots. This will
          | apply the selected template to the raid. This includes adding
          strong and
          | removing slots. If a slot changes type and the current sign up isn't
          | compatible, that signup will go back to the waiting list.
      dt
      dd = submit_tag 'Save'
