<table>
  <tr>
    <th class="raidname">Name</th>
    <th>Instances</th>
    <th>Finalized?</th>
    <th>Your Signups</th>
    <th>Date</th>
    <th>What's Needed</th>
  </tr>
  <%= render :partial => @raids %>
  <tr>
    <td align="left" colspan="5">
      <% if @old %>
        <%= link_to "See New Raids", :old => false %>
      <% else %>
        <%= link_to "See Old Raids", :old => true %>
      <% end %>
    </td>
  </tr>
</table>
