<div class="raid">
  <h3>Calendar</h3>
  <dl>
    <dt></dt>
    <dd>     
      <p>This site provides some urls to use to plug into any calendar program
        that uses the ical (*.ics) format. This includes Google Calendar,
        Apple's iCal, Evolution (Linux), Mozilla Sunbird and others.</p>
    </dd>
    <dt><%= link_to "Raid Calendar", :action => :raids %></dt>
    <dd>
      <p>This provides a main calendar which shows all raids that are scheduled
        by the site.</p>
    </dd>
    <dt><%= link_to "Account Calendar", :action => :account, :id => @current_account.id %></dt>
    <dd>
      <p>You can also access a calendar which only displays the calendar for a
        certain account. This allows you to see only the raids that your account
        is signed up for. Notice that these are public (since all signups are
        public) so if you want the calendar for a different account you just
        have to replace the number at the end with the account id that you would
        like. This is the same number that's at the top of the main account
        pages which you can find using the member list.</p>
    </dd>
  </dl>
</div>
