<% signups = signup -%>
<% content_tag_for(:tr, signups[0].character.account) do %>
  <% signups.each do |signup| -%>
    <% content_tag_for(:td, signup) do %>
      <div>
        <% if @current_account.can_edit?(raid) %>
          <%= link_to_function(render(:partial => "shared/character",
                                      :object => signup.character),
                               nil) do |page|
                  page.select('table.box td.selected').each do |item|
                      item.remove_class_name 'selected'
                  end
                  page["signup_#{signup.id}"].toggle_class_name 'selected'
              end %>
        <% else %>
          <%= render(:partial => "shared/character", :object => signup.character) %>
          <%= signup.character.level %>
        <% end %>
        <div class="note">
          <%= render(:partial => "signups/note", :object => signup) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end -%>
