tr
  th#waiting_list_title
    div
      - if @current_account.can_edit?(raid)
        = link_to("Waiting List", "/raids/#{raid.id}/slots/'+slot+'", :remote => true,
                  :method => :delete,
                  :condition => "$$('td.slot.selected').length > 0",
                  :loading => update_page do |page|
                    page[:waiting_list_title].replace_html "Loading ..."
                  end)
        = content_tag(:span, "(#{waiting_list.size})", :id => "waiting_list_size") if waiting_list.size > 0
        div.note
          | Select a character in the raid and then click here to add them
          | to the waiting list
      - else
        | Waiting List
        = content_tag(:span, "(#{waiting_list.size})", :id => "waiting_list_size") if waiting_list.size > 0
- if waiting_list.length > 0
  = render(:partial => "signups/signup", :collection => waiting_list, :locals => { :raid => raid })
  - if @current_account.can_edit?(raid)
    tr#add_whole_waiting_list
      td
        div
          = link_to "Add To Raid", { :action => "add_waiting_list", :id => raid.id }, :remote => true, :method => :post, :loading => update_page { |page|
              page[:add_whole_waiting_list].replace_html "Loading ..."
            }
          div.note
            | Adds the whole waiting list to the raid
- else
  tr
    td.closed Empty
