/* Background and Main Color */
body{
	background-color: #17000A;
	background-image: url("/images/bg.gif");
	background-repeat: repeat-x;
	color: #fff;
}

/* Heading */
h1 { background-image: url('/images/raidbanner.jpg'); width: 900px; height: 300px; }
h2 { display: none; }

/* Main Menu List */
ul#menu li { background-color: rgb(50,0,35); color: #fdec2c; border: 2px solid rgb(115, 0, 101); }

/* Table */
table tr.even td { background-color: rgb(50, 0, 35); }

/* Links */
a:link, a:visited, a:active { color: rgb(253,236,60); }
a:hover { color: white; }
