body { background-color: #000; color: #fff; }

/* Headers */
/* h1 { background-image: url('/images/cod-logo.png'); width: 416px; height: 175px; } */

/* Main Menu List */
ul#menu li { background-color: #222; color: #fdec2c; border: 2px solid #bbb; }

/* Table */
table tr.even td { background-color: #111; }

/* Links */
a:link, a:visited, a:active { color: #ff7d0a; }
a:hover { color: white; }
