dt Search Wowhead:
dd
  input#wowhead_search name="wowhead_search" type="text" size="20" onchange="wowhead_search(this.value);"
  a href="#" onclick="wowhead_pull(); return false;" Pull from Item Name
  img src="/images/loading.gif" style="display: none;" id="wowhead_search_loading_image"
  ul#wowhead_results

