= div_for(character, :class => "raid") do
  h4 = character.name
  - if @current_account == character.account || @current_account.admin
    p id="#{dom_id(character)}_edit_link"
      = link_to("Edit", edit_account_character_url(character.account, character), :onclick => "$.get('#{edit_account_character_url(character.account, character)}', {}, null, 'script'); return false;")
      - if character.not_found_in_armory
        | Can't find this character on the armory
      - else
        = link_to("Update from Armory", \
                  account_character_path(character.account, character), \
                  :remote => true, \
                  :method => :put, \
                  :loading => "$('#character_#{character.id}_edit_link').html('Loading...');")
      - if character.raids.empty?
        span id="#{dom_id(character)}_delete_link"
          = link_to_remote("Delete", :url => account_character_url(character.account, character), :method => 'delete', \
                           :confirm => "Are you sure you want to remove #{character.name}?")
      = "| Inactive" if character.inactive
  dl
    dt Level:
    dd = character.level
    dt Race:
    dd = character.race.name if character.race
    dt Class:
    dd = render(:partial => "shared/cclass", :object => character.cclass) if character.cclass
    - if !character.guild.blank?
      dt Guild:
      dd = character.guild
    - if character.loots.size > 0
      dt Loot:
      dd
        ul
          - character.loots.each do |loot|
            li
              = link_to loot.item_name, loot.item_url, :class => 'loot'
              = link_to(loot.location.raid.name, raid_url(loot.location.raid), :class => 'tiny')
