<% cclass = display %>
<tr>
  <td>
    <input type="checkbox" checked="checked"
           name="<%= cclass.name %>_Checkbox"
           value="<%= cclass.name %>"
           class="list_checkboxes"
           onchange="list_display('<%= cclass.name %>', this.checked);">
    <%= render(:partial => "shared/cclass", :object => cclass) %>
  </td>
</tr>
