<p>Please travel to <%= link_to "the forum", "http://forum.dota-guild.com" %>
and log in. Once there you can click on "Raid Signups" to login in correctly to
this site. Soon we will be able to login from this page as well, but not quite
yet.</p>

<!--
<form method="POST" action="<%=@login_post_url%>">
Username: <input type="text" name="username" value="" /><br />
Password: <input type="password" name="password" value="" /><br />
<input type="submit" name="submit" value="Login" />
</form>
-->
