<p>Please travel to <%= link_to "the forum", "http://forum.cakeordeath-guild.com" %>
and log in. Once logged into the forums you will be able to access the raid signup.</p> 

<!--
<form method="POST" action="<%=@login_post_url%>">
Username: <input type="text" name="username" value="" /><br />
Password: <input type="password" name="password" value="" /><br />
<input type="submit" name="submit" value="Login" />
</form>
-->
