// Collection of wow game specific colors and styles

// Class colors
.class_1
  color: #c79c6e
.class_2
  color: #f58cba
.class_3
  color: #abd473
.class_4
  color: #fff569
.class_5
  color: #ffffff
.class_6
  color: #c41f3b
.class_7
  color: #0070de
.class_8
  color: #69ccf0
.class_9
  color: #9482c9
.class_10
  color: #558a84
.class_11
  color: #ff7d0a

// Guild Emblem
div.guild_icon
  position: relative
  background-color: #000
  border:
    style: solid
    width: 1px

  .emblem, .background
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

table.guilds td
  vertical-align: middle

th.emblem, th.actions
  text-indent: -9999px

td.emblem
  position: relative
  padding: 0 gutter() 0 0

  div.guild_icon
    width: columns(1)
    height: columns(1)
