// Use sprockets to pull in lilydate and any other third party css that we want
// wrapped up into the main compressed css file.
//= require lilydate

// Compass imports
@import compass/typography/text/replacement

// Base
@import base

// Colors defined for COD
$background: #000
$text: #eee
$ui-background: darken(#e43e44, 42%)
$ui-border: darken(#e43e44, 20%)
$link: #57b6de

// Main Site Styles
@import lilyraid

// Overrides
header
  h1
    +replace-text-with-dimensions('cod-h1.png')
    margin: 0.5em 0 1em 0
