// Use sprockets to pull in lilydate and any other third party css that we want
// wrapped up into the main compressed css file.
//= require lilydate

// Compass imports
@import compass/typography/text/replacement

// Base
@import base

// Colors defined for DOTA
$background: #17000a
$text: #fff
$ui-background: #320023
$ui-border: #730065
$link: #fdec3c

// Main Site Styles
@import lilyraid

// Overrides
body
  background:
    image: image-url('dota-bg.gif')
    repeat: repeat-x

header
  +span-columns(12)
  margin-bottom: -48px

  h1
    +replace-text-with-dimensions('dota-h1.jpg')
